[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lepaya-python-slackclient = {git = "https://github.com/Lepaya/lepaya-python-slackclient",ref = "release-1.1"}
pandas = "~=1.4"
pyarrow = "==8.0.0"
pydantic = "~=1.9"
snowflake-connector-python = "==2.7.11"
structlog = "~=22.3"

[dev-packages]
add-trailing-comma="~=2.4"
autopep8 = "~=2.0"
black = "~=23.1"
flake8 = "~=6.0"
isort = "*"
mypy = "~=1.0"
pandas-stubs = "~=1.5"
pre-commit = "~=3.0"
pydocstyle = "*"
pytest = "~=7.2"
pyupgrade ="~=3.3"
reorder-python-imports = "~=3.9"
sourcery = "~=1.0"
yapf="~=0.32"

[requires]
python_version = "3.10"
