[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data-slack-client = {git = "https://github.com/Lepaya/data-slack-client"}
pydantic = "~=1.9"
pyyaml = "~=6.0"
snowflake-connector-python = "~=3.5"
structlog = "~=22.3"
pandas = "~=2.2"
pyarrow = "~=17.0"
cryptography = "~=43.0"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
